<h1> Tiny App </h1>
<% if(flag !== 0 && user) { %>
 <h4>The current user is: <u><%= user.email %></u></h5>
  <form method="post" action="/logout">
    <button type="submit">LOGOUT</button>
  </form>
<% } else { %>
      <form method="get" action="/login">
      <button type="submit"> Already a user? Click to login </button>
      </form>
<% } %>