<!-- <% include partials/_header %> -->

<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
  <% if (user === undefined) {%>
    <h5>Welcome to the registration Page</h5>
    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">email:</label>
      <input id="email" name="email" type="email">
      <label for="password">Password:</label>
      <input id="password" name="password" type="password">
      <input type="submit" value="Submit">
    </form>
  <% } else { %>
      <h5> You are already signed in </h5>
  <% } %>
  </body>
</html>