<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_style %>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
  <% include partials/_header %>


    <ul>
          <%console.log(flag)%>

    <% if (flag == 0) { %>
      <form method="get" action="/register">
      <button type="submit">Not a user? Register!</button>
      </form> <br>
      <h1> Please Login</h1>
      <% } else {%>
        <% for(let key in flag) { %>
            <% if(flag[key].longURL) { %>
              <li>
                <h3>Full URL is:<%= flag[key].longURL %></h3>
                <h3>Short URL is:<%= key %></h3>
                <form method="POST" action="/urls/<%=key%>?_method=DELETE">
                <input type="submit" value="DELETE"></form>
                <form method="GET" action="/urls/<%=key%>">
                  <button type="submit">EDIT</button>
                </form>
            <% } %>
            </li>
        <% } %>
      <% } %>
    </ul>
<% include partials/_footer %>
</body>
</html>