<h1>Welcome to TinyApp </h1>
<h2>Please enter your login information</h2>

<% if(!user_id) { %>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">email:</label>
      <input name="email" type="email">
      <label for="password">Password:</label>
      <input name="password" type="password">
      <input type="submit" value="Submit">
    </form>
  <% } else{ %>
      <div>
        The current user is: <span><%= email %></span>
      </div>
      <form action="/logout" method="POST" style="margin:150px;">
      <input type="submit" value="Logout">
      </form>
    <% } %>