<html lang="en">
  <head>
    <% include partials/_style %>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>

    <form action="/urls" method="POST">
      <div>
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
      </div>
      <input type="submit" value="Submit">
    </form>

    <% include partials/_footer %>

  </body>
</html>