<!-- <% include partials/_header %> -->

<html lang="en">
    <head></head>
    <body style="font-size:20px; padding:50px;">
      <h1>Welcome to the registration Page</h1>
  
  
      <form action="/register" method="POST" style="margin:150px;">
        <label for="email">email:</label>
        <input name="email" type="email">
  
        <label for="password">Password:</label>
        <input name="password" type="password">
  
        <input type="submit" value="Submit">
      </form>
  
    </body>
  </html>